<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/Login.css}">
    <title>login</title>
</head>
<body>
    <main>
        <div class="h1p">
            <h1>Bem vindo</h1>
            <p class="ph1">Entre na sua conta</p>
        </div>
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="senha" placeholder="Senha">
            <button>Entrar</button>
        </form>
        <div class="botton">
            <p>Não tem uma conta?</p>
            <a href="/cadastro">Cadastre=se</a>
        </div>
    </main>
</body>
</html>